<div class="container", style="width: 250px;">  
  <% if @notifications.count > 0 %>
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <% @notifications.each do |notification| %>
          <tr>
            <td><b><%= notification.action %></b></td>
            <!-- <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%#= button_to "Remove", notification_path(notification),data: { confirm: "Are you sure?"}, method: :delete, class: "btn btn-outline-success" %>
            </td> -->
            </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    No Notifications
  <% end %>  
</div>