// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
$primary-color: #2dbb43;
@import "arctic_admin/base";
@import 'activeadmin/quill_editor/quill.snow';
@import 'activeadmin/quill_editor_input';

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   
.status_tag { background: #6090DB; }
.col-description{
	width:15%;
}
.col-terms{
	width: 85%;
}
.ss-main{
	width: 50% !important; 
}
#product_description{
	width:50% !important;
}

.admin-dashboard{
	display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.panel_contents{
	display: flex !important;
	justify-content: center !important;
}
.columns{
	padding: 25px!important;
}