<div class="container">
	<h1>Your Shipments </h1>
	<% @orders.each do |order| %>
		<div class="card my-3 px-3 bg-light">
			<div class="row">
				<div class="col">
					<b>Status:</b>
				</div>
				<div class="col">
					<%= order.shipment.status%>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<b>Expected Delivery Date:</b>
				</div> 
				<div class="col">
					<%= order.shipment.expected_delivery %>
				</div>
			</div>
		</div>	
	<% end %>
</div>